[submodule "packages/falkor-bundler"]
	path = packages/falkor-bundler
	url = git@github.com:theonethread/falkor-bundler.git
	branch = develop
[submodule "packages/falkor-auth-server"]
	path = packages/falkor-auth-server
	url = git@github.com:theonethread/falkor-auth-server.git
	branch = develop
[submodule "packages/falkor-library"]
	path = packages/falkor-library
	url = git@github.com:theonethread/falkor-library.git
	branch = develop
[submodule "packages/falkor-commander"]
	path = packages/falkor-commander
	url = git@github.com:theonethread/falkor-commander.git
	branch = develop
[submodule "packages/falkor-plugin-example"]
	path = packages/falkor-plugin-example
	url = git@github.com:theonethread/falkor-plugin-example.git
	branch = develop
